@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;

  --primary: #3b82f6;
  --primary-foreground: #ffffff;

  --secondary: #27272a;
  --secondary-foreground: #fafafa;

  --card: #18181b;
  --card-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #3b82f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
